html, body {
    background-color: #eee;
}

body {
    padding-top: 40px;
}

.brand {
    padding: 9px 20px 9px !important;
}

.button-container {
    padding-top: 150px;
    padding-bottom: 150px;
    display: table;
    margin: 0 auto;
}

.button-rectangle {
    border: 1px solid #17365d;
    background: #17365d;
    padding: 10px;
    color: #ffffff;
    font-size: 18pt;
    line-height: 24pt;
    -moz-box-shadow: 3px 1px 4px #999;
    -webkit-box-shadow: 3px 1px 4px #999;
    box-shadow: 3px 1px 4px #999;
}

.button-rectangle:hover {
    background: #17486f;
    border: 1px solid #17486f;
}

.container>footer {
    padding-top: 20px;
}

.showAdditionalResultsButtonContainer>a {
    color: #000000;
}

.container>footer p {
    text-align: center;
    line-height: 12pt;
    font-size: 10pt;
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
    border-left: 1px solid #eee;
}

.button-feedback {
    position: absolute;
    right: 0;
    color: white;
    top: 25%;
    cursor: pointer;
}

.button-search {
    width: 120%;
}